<div class="row">


  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Shop Entry</nb-card-header>
      <nb-card-body>
        <form #form="ngForm">
          <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
            <input type="text" class="form-control" [(ngModel)]="model.Name" name="name" id="exampleInputEmail1"
              #name="ngModel" required placeholder="Name">
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
              <div *ngIf="name.errors.required" class="error-message">
                Name is required.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Email </label>
            <input type="text" [(ngModel)]="model.Email" name="Email" class="form-control" id="exampleInputPassword1"
              placeholder="Email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Address</label>
            <input type="text" [(ngModel)]="model.StreetAddress" #address="ngModel" name="address" class="form-control"
              required id="exampleInputPassword1" placeholder="Address">
            <div *ngIf="address.invalid && (address.dirty || address.touched)" class="alert alert-danger">
              <div *ngIf="address.errors.required" class="error-message">
                Address is required.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Phone </label>
            <input type="text" class="form-control" [(ngModel)]="model.Phone" name="phone" id="exampleInputPassword1"
              #phone="ngModel" required placeholder="Phone">
            <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="alert alert-danger">
              <div *ngIf="phone.errors.required" class="error-message">
                Phone is required.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Area </label>
            <input type="text" class="form-control" [(ngModel)]="model.Area" name="Remarks" id="exampleInputPassword1"
              placeholder="Remarks">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Thana </label>
            <input type="text" class="form-control" [(ngModel)]="model.Thana" name="Remarks" id="exampleInputPassword1"
              placeholder="Remarks">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">PostCode </label>
            <input type="text" class="form-control" [(ngModel)]="model.PostCode" name="Remarks"
              id="exampleInputPassword1" placeholder="Remarks">
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1">Remarks </label>
            <input type="text" class="form-control" [(ngModel)]="model.Remarks" name="Remarks"
              id="exampleInputPassword1" placeholder="Remarks">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">ContactPersonName </label>
            <input type="text" class="form-control" [(ngModel)]="model.ContactPersonName" name="ContactPersonName"
              id="exampleInputPassword1" placeholder="ContactPersonName">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">ContactPersonPhone </label>
            <input type="text" class="form-control" [(ngModel)]="model.ContactPersonPhone" name="MadeInCountry"
              id="exampleInputPassword1" placeholder="MadeInCountry">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Contact Person Designation </label>
            <input type="text" class="form-control" [(ngModel)]="model.ContactPersonDesignation"
              name="ContactPersonDesignation" id="exampleInputPassword1" placeholder="MadeInCountry">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Country </label>
            <input type="text" class="form-control" [(ngModel)]="model.Country" name="Country"
              id="exampleInputPassword1" placeholder="Country">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">ExpiryDate </label>
            <input type="date" class="form-control" [(ngModel)]="model.ExpiryDate" name="ExpiryDate"
              id="exampleInputPassword1" placeholder="Country">
          </div>


          <div class="form-group">
            <nb-checkbox [(ngModel)]="model.IsActive" name="IsActive">IsActive</nb-checkbox>
          </div>
          <button [disabled]="form.invalid" type="submit" class="btn btn-danger" (click)="save()">Submit</button>
        </form>
      </nb-card-body>
    </nb-card>


  </div>
</div>