<form #form="ngForm">
  <div class="app-title">
    <div>
      <h1><i class="fa fa-laptop"></i> Brand</h1>
      <p>Product brand panel</p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
      <li class="breadcrumb-item">Brand</li>
      <li class="breadcrumb-item active"><a href="#">Add New Brand</a></li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <h3 class="tile-title">Add New Brand</h3>
        <hr>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Name</label>
              <input class="form-control" type="text" placeholder="Enter Name" [(ngModel)]="model.name" name="Name"
                id="Name" #name="ngModel" required>

            </div>
            <div class="form-group">
              <label class="control-label">Address</label>
              <textarea class="form-control" [(ngModel)]="model.address" #address="ngModel" name="address" required
                rows="5" placeholder="Enter Address"></textarea>
            </div>
            <div class="form-group">
              <label class="control-label">Phone</label>
              <input class="form-control" [(ngModel)]="model.phone" name="phone" id="phone" #phone="ngModel" required
                type="tel" placeholder="Enter Phone">
            </div>
            <div class="form-group">
              <label class="control-label">Remarks</label>
              <input class="form-control" class="form-control" [(ngModel)]="model.remarks" name="Remarks" id="Remarks"
                type="text" placeholder="Enter Remarks">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Contact Person Name</label>
              <input class="form-control" class="form-control" [(ngModel)]="model.contactPersonName"
                name="ContactPersonName" type="text" placeholder="Enter Contact Person Name">
            </div>
            <div class="form-group">
              <label class="control-label">Country</label>
              <input class="form-control" [(ngModel)]="model.country" name="Country" id="Country" type="text"
                placeholder="Enter Country">
            </div>

            <div class="form-group">
              <label class="control-label">Made In Country</label>
              <input class="form-control" type="text" [(ngModel)]="model.madeInCountry" name="MadeInCountry"
                id="MadeInCountry" placeholder="Enter Made In Country">
            </div>
            <div class="form-group">
              <label class="control-label">Email</label>
              <input [(ngModel)]="model.email" name="Email" class="form-control" id="email" type="email"
                placeholder="Enter Email">
            </div>
            <div class="form-group">
              <label class="control-label">Brand Code</label>
              <input class="form-control" [(ngModel)]="model.brandCode" name="BrandCode" id="BrandCode" type="text"
                placeholder="Enter Brand Code">
            </div>
          </div>
          <div class="col-md-12">
            <div class="tile-footer">
              <button class="btn btn-primary" [disabled]="form.invalid" (click)="save()" type="button">Publish</button>
              <button class="btn btn-info" type="button">Back</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</form>
