<div class="form-group form-inline">
  <form #form="ngForm" (ngSubmit)="search()">
    <input
      type="text"
      class="form-control"
      [(ngModel)]="searchRequest.keyword"
      name="Name"
      id="Name"
      #name="ngModel"
      required
      placeholder="Search"
    />
  </form>
  <span class="ml-3" *ngIf="">Loading...</span>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th width="1">
        #
      </th>
      <th (click)="toggleSort('Modified'); saveOrderByValue()">
        Created Date <span class="glyphicon glyphicon-sort"></span>
      </th>
      <th (click)="toggleSort('Modified'); saveOrderByValue()">
        Modified Date <span class="glyphicon glyphicon-sort"></span>
      </th>
      <th (click)="toggleSort('name')">
        Name <span class="glyphicon glyphicon-sort"></span>
      </th>
      <th class="table-icon-cell">
        <i class="font-icon font-icon-phone"></i>
        Phone Number
      </th>
      <th (click)="toggleSort('totalDue')">
        Total Amount(Total Due) <span class="glyphicon glyphicon-sort"></span>
      </th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of models; let i = index">
      <td>
        <span class="tabledit-span tabledit-identifier">
          {{ (searchRequest.page - 1) * 10 + i + 1 }}
        </span>
      </td>
      <td [ngStyle]="isOverDue(p) && { color: 'red', 'font-weight': 'bold' }">
        {{ p.created | date }}
        <span [hidden]="!isOverDue(p)"
          >({{ toInt(getDateDiff(p.created)) }})</span
        >
      </td>
      <td [ngStyle]="isOverDue(p) && { color: 'red', 'font-weight': 'bold' }">
        {{ p.modified | date }}
        <span [hidden]="!isOverDue(p)"
          >({{ toInt(getDateDiff(p.created)) }})</span
        >
      </td>
      <td class="tabledit-view-mode">
        <span class="tabledit-span">{{ p.name }}</span>
      </td>
      <td class="table-icon-cell">{{ p.phone }}</td>
      <!--<td class="color-blue-grey-lighter tabledit-view-mode"><span class="tabledit-span">{{p.district}}</span></td>-->
      <td class="color-blue-grey-lighter tabledit-view-mode">
        <span class="tabledit-span">{{ p.totalDue }}</span>
      </td>
      <td>
        <label [hidden]="!p.isActive">Active</label>
        <label [hidden]="p.isActive">Deactived</label>
        <input type="checkbox" [(ngModel)]="p.isActive" (change)="update2(p)" />
        <label class="label-success" [hidden]="p.message?.length <= 0"
          >Updated</label
        >
      </td>
      <td></td>
      <td style="white-space: nowrap; width: 1%;">
        <div class="tabledit-toolbar btn-toolbar" style="text-align: left;">
          <div class="btn-group btn-group-sm" style="float: none;">
            <button
              type="button"
              class="tabledit-edit-button btn btn-sm btn-default"
              style="float: none; cursor: pointer;"
              (click)="gotoDetails(p.id)"
            >
              <span class="glyphicon glyphicon-edit">customeredit</span>
            </button>
            <button
              type="button"
              class="tabledit-edit-button btn btn-sm btn-default"
              style="float: none; cursor: pointer;"
            >
              <span class="glyphicon glyphicon-time">customerhist</span>
            </button>
            <button
              type="button"
              class="tabledit-edit-button btn btn-sm btn-default"
              style="float: none; cursor: pointer;"
            >
              <span class="glyphicon glyphicon-th">customerprodview</span>
            </button>
            <button
              type="button"
              class="btn btn-sm btn-default"
              style="float: none; cursor: pointer;"
            >
              <span class="glyphicon glyphicon-home">customeraddress</span>
            </button>
            <button
              type="button"
              class="tabledit-edit-button btn btn-sm btn-default"
              style="float: none; cursor: pointer;"
            >
              <span>customerprodhistory</span>
            </button>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<hr />
<pagination
  [searchRequest]="searchRequest"
  [totalCount]="totalCount"
  (pageNate)="goto($event)"
  (searchPage)="search()"
></pagination>
