<div class="app-title">
  <div>
    <h1><i class="fa fa-laptop"></i>Group</h1>
    <p>Product Group panel</p>
  </div>
  <ul class="app-breadcrumb breadcrumb">
    <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
    <li class="breadcrumb-item">Group</li>
    <li class="breadcrumb-item active"><a href="#">Group List</a></li>
  </ul>
</div>

<div class="form-group form-inline">
  <form #form="ngForm" (ngSubmit)="search()">
    <input
      type="text"
      class="form-control"
      [(ngModel)]="searchRequest.keyword"
      name="Name"
      id="Name"
      #name="ngModel"
      required
      placeholder="Search"
    />
  </form>
  <span class="ml-3" *ngIf="">Loading...</span>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="tile">
      <h3 class="tile-title">Group List</h3>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>
                #
              </th>
              <th (click)="toggleSort('name')">
                Name <i class="fa fa-sort-alpha-asc"></i>
              </th>

              <th>Modified</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let model of models; index as i"
              (click)="gotoDetails(model.id)"
            >
              <td>
                {{ i + 1 }}
              </td>
              <td>
                {{ model.name }}
              </td>

              <td>{{ model.modified | date }}</td>
              <td>
                <span class="pull-right"
                  ><button class="btn btn-sm btn-info">Edit</button>
                  <button class="btn btn-sm btn-danger">Delete</button></span
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <hr />
      <pagination
        [searchRequest]="searchRequest"
        [totalCount]="totalCount"
        (pageNate)="goto($event)"
        (searchPage)="search()"
      ></pagination>
    </div>
  </div>
</div>
