<div class="form-group form-inline">
  <form #form="ngForm" (ngSubmit)="search()">
    <input
      type="text"
      class="form-control"
      [(ngModel)]="searchRequest.keyword"
      name="Name"
      id="Name"
      #name="ngModel"
      required
      placeholder="Search"
    />
  </form>
  <span class="ml-3" *ngIf="">Loading...</span>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th width="1">
        #
      </th>
      <th (click)="toggleSort('name')">
        Name<span class="glyphicon glyphicon-sort"></span>
      </th>
      <th>Address</th>
      <th>
        Phone
      </th>
      <th>Modified</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let brand of models; index as i">
      <td>
        {{ i + 1 }}
      </td>
      <td>
        {{ brand.name }}
      </td>
      <td>{{ brand.address }}</td>
      <td>{{ brand.phone }}</td>
      <td>{{ brand.modified | date }}</td>
    </tr>
  </tbody>
</table>

<div class="d-flex justify-content-between p-2">
  <ul class="pagination">
    <li class="page-item" *ngIf="searchRequest.page > 2">
      <a href="javascript:void(0)" (click)="goto(1)"
        ><i
          class="fa fa-angle-double-left"
          style="
                font-weight: 600;
                font-size: 24px;
            "
        ></i
      ></a>
    </li>
    <li class="page-item" *ngIf="searchRequest.page > 2">
      <a href="javascript:void(0)" (click)="goto(searchRequest.page - 2)"
        ><i class="fa fa-angle-left"></i
      ></a>
    </li>
    <li class="page-item" *ngIf="searchRequest.page > 1">
      <a href="javascript:void(0)" (click)="goto(searchRequest.page - 1)">{{
        searchRequest.page - 1
      }}</a>
    </li>

    <li class="page-item active">
      <a href="javascript:void(0)" (click)="goto(searchRequest.page)">{{
        searchRequest.page
      }}</a>
    </li>

    <li
      class="page-item"
      *ngIf="searchRequest.totalPage - searchRequest.page > 0"
    >
      <a href="javascript:void(0)" (click)="goto(searchRequest.page + 1)">{{
        searchRequest.page + 1
      }}</a>
    </li>
    <li
      class="page-item"
      *ngIf="searchRequest.totalPage - searchRequest.page > 1"
    >
      <a href="javascript:void(0)" (click)="goto(searchRequest.page + 2)"
        ><i class="fa fa-angle-right"></i
      ></a>
    </li>
  </ul>
</div>
