<div
  [hidden]="!authService.isSignedIn()"
  class="app-sidebar__overlay"
  data-toggle="sidebar"
></div>
<aside [hidden]="!authService.isSignedIn()" class="app-sidebar">
  <div class="app-sidebar__user">
    <img
      class="app-sidebar__user-avatar"
      src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/48.jpg"
      alt="User Image"
    />
    <div>
      <p class="app-sidebar__user-name">
        Foyzul Karim
      </p>
      <p class="app-sidebar__user-designation">Shop Admin</p>
    </div>
  </div>
  <ul class="app-menu">
    <li>
      <a class="app-menu__item" href="dashboard.html"
        ><i class="app-menu__icon fa fa-dashboard"></i
        ><span class="app-menu__label">Dashboard</span></a
      >
    </li>

    <li class="treeview">
      <a class="app-menu__item" href="#" data-toggle="treeview"
        ><i class="app-menu__icon fa fa-laptop"></i
        ><span class="app-menu__label">Shop</span
        ><i class="treeview-indicator fa fa-angle-right"></i
      ></a>
      <ul class="treeview-menu">
        <li>
          <a class="treeview-item active" routerLink="/pages/setup/shop"
            >Shop List</a
          >
        </li>
        <li>
          <a class="treeview-item" routerLink="/pages/setup/shopentry"
            >Add New Shop</a
          >
        </li>
      </ul>
    </li>
    <li class="treeview">
      <a class="app-menu__item" href="#" data-toggle="treeview"
        ><i class="app-menu__icon fa fa-laptop"></i
        ><span class="app-menu__label">Brand</span
        ><i class="treeview-indicator fa fa-angle-right"></i
      ></a>
      <ul class="treeview-menu">
        <li>
          <a class="treeview-item active" routerLink="/pages/product/brandlist"
            >Brand List</a
          >
        </li>
        <li>
          <a class="treeview-item" routerLink="/pages/product/brandentry"
            >Add New Brand</a
          >
        </li>
      </ul>
    </li>
  </ul>
</aside>
