<button type="button" class="btn btn-primary" (click)="addBrnadLink()">Add Shop</button>
<br>
<div>
  <table class="table">
    <thead>
      <tr>

        <th scope="col">Nmae</th>
        <th scope="col">Address</th>
        <th scope="col">Phone</th>
        <th scope="col">ContactPersonName</th>
        <th scope="col">Country</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let shop of shops">

        <td>{{shop.Name}}</td>
        <td>{{shop.StreetAddress}}</td>
        <td>{{shop.Phone}}</td>
        <td>{{shop.ContactPersonName}}</td>
        <td>{{shop.Country}}</td>
      </tr>

    </tbody>
  </table>
</div>